<!-- <div class="col-md-4 col-sm-6 col-xs-12">
  <div class="single-course mb-70">
      <div class="course-img">
          <a href="course-details.php"><img src="img/course/course1.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.php">CSE ENGINEERING</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="single-course mb-70">
      <div class="course-img">
          <a href="course-details.php"><img src="img/course/course2.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.php">political science</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="single-course mb-70">
      <div class="course-img">
          <a href="course-details.php"><img src="img/course/course3.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.html">micro biology</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="single-course mb-70">
      <div class="course-img">
          <a href="course-details.html"><img src="img/course/course4.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.html">English history</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="single-course mb-70">
      <div class="course-img">
          <a href="course-details.html"><img src="img/course/course5.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.html">digital marketing</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="single-course mb-70">
      <div class="course-img">
          <a href="course-details.html"><img src="img/course/course6.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.html">html5 &amp; css3</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="single-course">
      <div class="course-img">
          <a href="course-details.html"><img src="img/course/course7.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.html">learn php5</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="single-course">
      <div class="course-img">
          <a href="course-details.html"><img src="img/course/course8.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.html">social science</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
<div class="col-md-4 hidden-sm col-xs-12">
  <div class="single-course">
      <div class="course-img">
          <a href="course-details.html"><img src="img/course/course9.jpg" alt="course">
              <div class="course-hover">
                  <i class="fa fa-link"></i>
              </div>
          </a>
      </div>
      <div class="course-content">
          <h3><a href="course-details.html">applied mathematics</a></h3>
          <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the
              rut the is lder of human happiness</p>
          <a class="default-btn" href="course-details.html">read more</a>
      </div>
  </div>
</div>
 -->
 teest